//////// Logo
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

///////// Search
.search {
  flex: 0 0 40%; // grow or shrink occupy 40%

  display: flex;
  justify-content: center; // aligns in center of container so both sides transform out on focus
  align-items: center; // aligns magnifing glass in center of cross axis

  &__input {
    font-family: inherit;
    font-size: inherit; // inputs dont inherit font properties from global
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem; // move magnifing glass to left

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::placeholder {
      // change placeholder properties
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    // if input is in focus the immediate sibling (button) icon background color matches
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); // change icon color
  }
}

////////// User Navigation
.user-nav {
  align-self: stretch; // overwrites the .header align-items: center, the align-self: stretch makes the user-nav stretch the whole height of the .header

  display: flex;
  // align-items: center;

  & > * {
    // selects all direct children of user-nav (icon-box & user)
    padding: 0 2rem;
    height: 100%;

    display: flex;
    align-items: center; // fixes the items at top because of aligh-self: stretch

    &:hover {
      background-color: var(--color-grey-light-2);
    }
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;

    display: flex; // flexbox also centers text, this centers the number in the notification icon
    justify-content: center;
    align-items: center;
  }

  &__user {
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
  }

  &__user-name {
    margin-left: 1rem;
  }
}
